<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/thermostat.js"></script>
    <script src="../js/interface.js"></script>
    <link rel="stylesheet" href="./css/interface.css">
  </head>

  <body>
  <h1>B0$$ MAN THERmOSTAT</h1>
    <div>
      <button id='powersave-on'>powersave mode on</button>
      <button id='powersave-off'>powersave mode off</button>
      power saving mode is <span id="power-saving-status">on</span>
      <button id='temp-up'>Up</button>
      <button id='temp-down'>Down</button>
      <button id='temp-reset'>Reset</button>
    </div>
      <br>
    <div>
      <a href><img id="main" src ="https://www.coffeehit.co.uk/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/a/e/aeropress_us_ko.jpg"></a>
    </div>

      <h2>Thermostat temperature is <span id="temperature">20</span></h2>

    <section>
      <h1>Currrent temperature: <span id="current-temperature"></span></h1>
        <select id="current-city">
          <option>Please select a City</option>
          <option value="london">London</option>
          <option value="newyork">New York</option>
          <option value="paris">Paris</option>
          <option value="tokyo">Tokyo</option>
        </select>
    </section>

  </body>

</html>
