<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../js/thermostat.js"></script>
    <script src="../js/interface.js"></script>
    <link rel="stylesheet" href="./css/interface.css">
  </head>

  <body>
  <h1>B0$$ MAN THERmOSTAT</h1>
    <div>
      <button id='powersave-on'>powersave mode on</button>
      <button id='powersave-off'>powersave mode off</button>
      power saving mode is <span id="power-saving-status">on</span>
      <button id='temp-up'>Up</button>
      <button id='temp-down'>Down</button>
      <button id='temp-reset'>Reset</button>
    </div>
      <br>
    <div>
      <a href><img src ="https://photos-5.dropbox.com/t/2/AABKIVovMah8yfOtUYbGaYAFP0shc0QXa8KQ3ahAUUnJzw/12/63541668/jpeg/32x32/1/_/1/2/MV5BMTQ5Nzg2MTgwMl5BMl5BanBnXkFtZTcwNTA0NjcxMw%40%40._V1_UY317_CR0%2C0%2C214%2C317_AL_.jpg/EIrRoTEYnxQgBygH/PGbWpgsYW-mcpwpmjFyWzk3oVHa5rtt3bYpZ3vGP6v8?size=1600x1200&size_mode=3"></a>
    </div>

      <h2>Thermostat temperature is </h2><h2 id="temperature">20</h2>

    <section>
      <h1>Currrent temperature: <span id="current-temperature">20</span></h1>
        <select id="current-city">
          <option value="london">London</option>
          <option value="newyork">New York</option>
          <option value="paris">Paris</option>
          <option value="tokyo">Tokyo</option>
        </select>
    </section>

  </body>

</html>
