<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../js/thermostat.js"></script>
    <script src="../js/interface.js"></script>
    <link rel="stylesheet" href="./css/interface.css">
  </head>

  <body>
  <h1>B0$$ MAN THERmOSTAT</h1>
    <div>
      <button id="psm_on" type="button" name="powersave">powersave mode on</button>
      <button type="button" name="powersave">powersave mode off</button>
      power saving mode is <span id="power-saving-status">on</span>
      <button type="button" name="up">Up</button>
      <button type="button" name="down">Down</button>
      <button type="button" name="reset">Reset</button>
    </div>
      <br>
    <div>
      <img src ="../images/mrt.jpg">
    </div>

  </body>
</html>
